{%extends 'base.html'%}
{% load static %}
{% block title %}Home{% endblock %}
{%block content%}
    <!-- header close here -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner-logo-div">
						<img src="{% static 'image/banner-logo.png' %}" class="banner-logo-remv" alt="logo-banner-1">
					</div>
					<div class="banner-WNDR-outer">
						<div class="banner-WNDR-btn">
							<a href="#" class="WNDR-btn-item">
								LOREM IPUSM
							</a><br>
							<a href="#" class="WNDR-btn-item1">
								LOREM IPUSM
							</a>
						</div>
						<div class="mbl-arrow">
							<a class="arrow-wrap" href="#content" style="opacity: 1;">
							<span class="arrow"></span>
							<!--<span class="hint">scroll</span>-->
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner -->

	<!-- About-WNDR-start -->
	<div class="about-WNDR content" id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-WNDR-outer">
					<div class="about-content"> 
						<h1>ABOUT <span>WNDR</span></h1>
							<div class="line-about">
								<img src="{% static 'image/About-line2.png' %}" alt="line-about-1">
							</div>
						<div class="shadow-outer-div">
							<p>THE WNDR STREAM ENGINE POWERS BROWSER-BASED PREMIUM MULTIPLAYER
							META-GAMES, VIRTUAL EVENTS AND IMMERSIVE OPEN WORLDS DISTRIBUTED ON
							ANY CONNECTED DEVICE WITH THE “CLICK-TO-SHARE” EASE OF A YOUTUBE
							VIDEO. WNDR IS THE NEXT EVOLUTION OF SCALABLE, BLOCKCHAIN-POWERED,
							SOCIAL-FOCUSED GAMING IN THE METAVERSE. NOT JUST FOR THE THE CASUAL
							GAMER, BUT FOR ANYONE AND EVERYONE WITH AN INTERNET CONNECTION AND
							A DEVICE (OF ANY KIND)</p>
							<img src="{% static 'image/about-shadow.png' %}" class="box-shadow-about" alt="shadow-about-1">
					    </div>
						<div class="about-wndr-link">
							<a href="#" class="about-WNDR_btn">
								 OUR VISION
							</a>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About-WNDR-end -->


	<!-- Image gallery-start -->
	<div class="slect-outer">
		<div class="inner-img">
		<!--<img src="image/gallary-line-mobile1.png" class="gallary-line-mobile1">-->
		<!--<img src="image/gallary-line-mobile3.png" class="gallary-line-mobile3">-->
		<div class="slect-pvc-live bt-line-frst">
			<h2>SELECT</h2>
			<p>HYPER REAL AVATARS</p>
			<img src="{% static 'image/About-line.png' %}" class="gallary-line" alt="line-gallary">
		<!--	<img src="image/gallary-line-mobile.png" class="gallary-line-mobile">-->
		</div>
		<div class="slect-pvc-live pvc-btm-line">
			<h2>PVP </h2>
			<p>Voice &amp; Video Chat</p>
			<img src="{% static 'image/About-line.png' %}" class="gallary-line" alt="line-gallary1">
		</div>
		<div class="slect-pvc-live lve-nft-credit">
			<h2>LIVE</h2>
			<p>NFT DROPS</p>
			<img src="{% static 'image/About-line.png' %}" class="gallary-line" alt="line-gallary2">
			<!--<img src="image/gallary-line-mobile2.png" class="gallary-line-mobile2">-->
		</div>
		<div class="slect-pvc-live crypto-wndr-coin">
			<h2>CRYPTO</h2>
			<p>WNDR COIN</p>
		</div>
	</div>
</div>
	<div class="clearfix"></div>
	<section class="glry-imgs">
		<div class="gallery-slider-outer">
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-1.jpg' %}" alt="slider1">
			</div> 
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-2.jpg' %}" alt="slider2">
			</div>
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-3.jpg' %}" alt="slider3">
			</div>
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-4.jpg' %}" alt="slider4">
			</div> 
		</div>
		<div class="slct-pvc-crypto">
			<div class="slect-ne">
				<img src="{% static 'image/gallary-pic-pc.jpg' %}" alt="img1" class="gallary-img-readius">
			</div>
			<div class="slect-tw">
				<img src="{% static 'image/gallary-pic2222-pc.jpg' %}" alt="img1" class="gallary-img-readius1">
			</div>
			<div class="slect-thr">
				<img src="{% static 'image/gallary-pic2-pc.jpg' %}" alt="img1" class="gallary-img-readius2">
			</div>
		</div>
		<div class="slct-pvc-bottom">
			<div class="wndr-glry-on">
				<img src="{% static 'image/gallary-pic3-pc.jpg' %}" alt="img1" class="gallary-img-readius3">
			</div>
			<div class="wndr-glry-tw">
				<img src="{% static 'image/gallary-pic4-pc.jpg' %}" alt="img1" class="gallary-img-readius4">
			</div>
			<div class="wndr-glry-thr">
				<img src="{% static 'image/gallary-pic5-pc.jpg' %}" alt="img1" class="gallary-img-readius5">
			</div>
			<div class="wndr-glry-fr">
				<img src="{% static 'image/gallery-pic-last.jpg' %}" alt="img1" class="gallary-img-readius-last">
			</div>
		</div>
	</section> 
	<!-- Image gallery-end -->


	<!-- WNDRLAND-WNDR-start -->
	<div class="WNDRLAND-WNDR"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-WNDR-outer">
					<div class="about-content"> 
						<h1>WNDR.VERSE   <span>GAMES</span></h1>
							<div class="line-about wndr-line">
								<img src="{% static 'image/About-line2.png' %}" alt="line-about-2">
							</div>
						<p>THE COMPANY’S FIRST OFFICIAL GAME TITLE, “THE COLOSSEUM,” IS SET IN THE
						FUTURISTIC WORLD OF WNDR.LAND, AND IS PART OF THE WNDR.VERSE, A
						MASSIVE ROLLOUT OF ULTRA-REALISTIC VIRAL META-GAMES. MEET THE WNDRS
						IN THIS ACTION-PACKED PLAYER VS PLAYER METAGAME. SELECT YOUR AVATAR TO
						COLLECT AND WIN. GET YOUR SUPERHERO ON AND POWER UP WITH SPONSORS
						AT THE MAIN STAGES </p>
							<div class="about-wndr-link">
							<a href="#" class="about-WNDR_btn">
								 READ MORE
							</a>
						</div> 
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- WNDRLAND-WNDR-end -->

	<!-- game-play start -->
	<div class="gamePlayer">
		    <div class="video-talier">
				<img src="{% static 'image/game-player.jpg' %}" class="game-player-pc" alt="gamePlayer-1">
				<img src="{% static 'image/game-player-tailer-tabs-pic.jpg' %}" class="game-player-tabs" alt="gamePlayer-2">
				<img src="{% static 'image/game-player-tailer-mobile-pic.jpg' %}" class="game-player-mobile" alt="gamePlayer-3">
			</div>
			<div class="gameplay-icon-full-width">
				<img src="{% static 'image/video-ic-full-width.png' %}" class="game-icon-screen" alt="gamePlayer-4">
			</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="gamePlayer-outer">
						<div class="gamePlayer-logo-item">
							<img src="{% static 'image/gamePlayer-logo.png' %}" alt="gamePlayer-logo-1">
							<div class="gamePlayer-contect">
								<p>THE COLOSIUM</p>
							</div>
						</div>
						<div class="play-btn-outer">
							<div class="play-btn-item">
								<a href="#">
									<img src="{% static 'image/play_ic.png' %}" alt="gamePlayer-icon-1">
								</a>
							</div>
							<div class="game-contact">
								<a href="#">
									<p>TRAILER</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- game-play end -->

	<!-- WNDR COINS Start -->
		<section class="wndr-coins">
			<div class="coin-lines">
				<div class="container">
					<div class="row">
						<div class="col-md-12 coin-img">
							<img src="{% static 'image/coin-img.png' %}" alt="coins" class="widr-cions-pc">
							<img src="{% static 'image/wind-coin-main-pic-mobile.png' %}" alt="coins1" class="widr-cions-mobile">
							<div class="wndr-coin-contnt">
								<h2>WNDR COIN</h2>
								<p>Earn Real money inside The Virtual world through play and build with WNDR Coins. Blockchain based Cryptocurrency will power WNDR.LAND’s Economy and allow user to Buy and sell NFT’s</p>
								<a href="#" class="about-WNDR_btn">
								 GET TOKEN
							    </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>	
		<!-- WNDR COINS End -->


    <!-- Subscribe newsletter Start -->
	<section class="newsletter-bg" id="newsletter-outer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="sbscribe-bg">
						<h2>Subscribe to Our Newsletter</h2>
						<img src="{% static 'image/nesltr-line.png' %}" class="subscribe-line-pc" alt="newsletter-line">
						<img src="{% static 'image/subscribe-line-tabs.png' %}" class="subscribe-line-tabs" alt="newsletter-line1">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus enim ac aliquet facilisis. </p>
						<form method="post" id="news">
							{% csrf_token %}
							<span class="nesltr-btn">
								<img src="{% static 'image/sucribe-input-img-center.png' %}" class="sucribe-center-pc" alt="subscribe-1">
								<img src="{% static 'image/sucribe-input-img-tabs.png' %}" class="sucribe-center-tabs" alt="subscribe-2">
								<img src="{% static 'image/sucribe-btn-center-img-mobile.png' %}" class="sucribe-center-pc-mobile" alt="subscribe-3">
								<input type="email" id="myInput" name="email" value="" placeholder="Enter email"  required>
							</span>
							
						</form>	
						<div class="sbscribe-section">
							<button class="sbt-btn" onclick="myFunction()">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</section>
	<!-- Subscribe newsletter End -->

{% endblock %}
